<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.putorn.powerdoc.dao.PowerSubstationMapper">

	<resultMap id="RM_PowerSubstation" type="com.putorn.powerdoc.entity.PowerSubstation">
        <result property="substationId" column="substation_id"/>
        <result property="substationName" column="substation_name"/>
        <result property="substationLevel" column="substation_level"/>
        <result property="remark" column="remark"/>
        <result property="addUserid" column="add_userid"/>
        <result property="addUsername" column="add_username"/>
        <result property="addtime" column="addtime"/>
        <result property="editUserid" column="edit_userid"/>
        <result property="editUsername" column="edit_username"/>
        <result property="edittime" column="edittime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		substation_id,substation_name,substation_level,remark,add_userid,add_username,addtime,edit_userid,edit_username,edittime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="substationId">
	    <![CDATA[
	        INSERT INTO power_substation ( 
	        	substation_id ,
	        	substation_name ,
	        	substation_level ,
	        	remark ,
	        	add_userid ,
	        	add_username ,
	        	addtime ,
	        	edit_userid ,
	        	edit_username ,
	        	edittime 
	        ) VALUES (
	        	#{substationId} ,
	        	#{substationName} ,
	        	#{substationLevel} ,
	        	#{remark} ,
	        	#{addUserid} ,
	        	#{addUsername} ,
	        	#{addtime} ,
	        	#{editUserid} ,
	        	#{editUsername} ,
	        	#{edittime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="batchInsert">
	    <![CDATA[
	        INSERT INTO power_substation (
	        		substation_id ,
	        		substation_name ,
	        		substation_level ,
	        		remark ,
	        		add_userid ,
	        		add_username ,
	        		addtime ,
	        		edit_userid ,
	        		edit_username ,
	        		edittime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.substationId} ,
					#{item.substationName} ,
					#{item.substationLevel} ,
					#{item.remark} ,
					#{item.addUserid} ,
					#{item.addUsername} ,
					#{item.addtime} ,
					#{item.editUserid} ,
					#{item.editUsername} ,
					#{item.edittime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="substationName != null and substationName != ''">
				substation_name = #{substationName} ,
			</if>
			<if test="substationLevel != null and substationLevel != ''">
				substation_level = #{substationLevel} ,
			</if>
			<if test="remark != null and remark != ''">
				remark = #{remark} ,
			</if>
			<if test="addUserid != null">
				add_userid = #{addUserid} ,
			</if>
			<if test="addUsername != null and addUsername != ''">
				add_username = #{addUsername} ,
			</if>
			<if test="addtime != null">
				addtime = #{addtime} ,
			</if>
			<if test="editUserid != null">
				edit_userid = #{editUserid} ,
			</if>
			<if test="editUsername != null and editUsername != ''">
				edit_username = #{editUsername} ,
			</if>
			<if test="edittime != null">
				edittime = #{edittime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="updateByPrimaryKey">
		UPDATE power_substation
		<include refid="update_sql" />
		WHERE
			substation_id = #{substationId} 
	</update>

		<!-- 修改 -->
	<update id="batchUpdateByIds">
		UPDATE power_substation
		<include refid="update_sql" />
		WHERE
		substation_id IN
			<foreach item="ids" collection="list" open="(" separator="," close=")">
				#{ids}
			</foreach>
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteByPrimaryKey">
    	<![CDATA[
        	DELETE FROM power_substation 
        	WHERE
        		substation_id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds">
        DELETE FROM power_substation 
        WHERE substation_id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="selectByPrimaryKey" resultMap="RM_PowerSubstation">
		SELECT
		<include refid="columns" />
		FROM power_substation
		WHERE
		substation_id = #{id} 
	</select>





	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="substationId != null">
					AND substation_id = #{substationId}
				</if>
				<if test="substationName != null and substationName !=''">
					AND substation_name = #{substationName}
				</if>
				<if test="substationLevel != null and substationLevel !=''">
					AND substation_level = #{substationLevel}
				</if>
				<if test="remark != null and remark !=''">
					AND remark = #{remark}
				</if>
				<if test="addUserid != null">
					AND add_userid = #{addUserid}
				</if>
				<if test="addUsername != null and addUsername !=''">
					AND add_username = #{addUsername}
				</if>
				<if test="addtime != null">
					AND addtime = #{addtime}
				</if>
				<if test="editUserid != null">
					AND edit_userid = #{editUserid}
				</if>
				<if test="editUsername != null and editUsername !=''">
					AND edit_username = #{editUsername}
				</if>
				<if test="edittime != null">
					AND edittime = #{edittime}
				</if>
		</where>
	</sql>

	<!-- selsect by obj -->
	<select id="listByObj" resultMap="RM_PowerSubstation" parameterType="com.putorn.powerdoc.entity.PowerSubstation">
	SELECT
	<include refid="columns" />
	FROM power_substation
	<include refid="findPage_where" />
	</select>


	<!-- 获取总数 -->
	<select id="listPageCount" resultType="long" parameterType="map">
		SELECT COUNT(1)
		FROM power_substation
		<include refid="findPage_where" />
	</select>  

	<select id="listPage" resultMap="RM_PowerSubstation" parameterType="map">
		 SELECT
		<include refid="columns" />
		FROM power_substation
		<include refid="findPage_where" />

		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>

</mapper>
