<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.putorn.powerdoc.dao.PowerDocResistanceDetailMapper">

	<resultMap id="RM_PowerDocResistanceDetail" type="com.putorn.powerdoc.entity.PowerDocResistanceDetail">
        <result property="detailId" column="detail_id"/>
        <result property="subreportId" column="subreport_id"/>
        <result property="rowNum" column="row_num"/>
        <result property="highAo" column="high_AO"/>
        <result property="highBo" column="high_BO"/>
        <result property="highCo" column="high_CO"/>
        <result property="highError" column="high_error"/>
        <result property="middleAmOm" column="middle_AmOm"/>
        <result property="middleBmOm" column="middle_BmOm"/>
        <result property="middleCmOm" column="middle_CmOm"/>
        <result property="middleError" column="middle_error"/>
        <result property="addUserid" column="add_userid"/>
        <result property="addUsername" column="add_username"/>
        <result property="addtime" column="addtime"/>
        <result property="editUserid" column="edit_userid"/>
        <result property="editUsername" column="edit_username"/>
        <result property="edittime" column="edittime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		detail_id,subreport_id,row_num,high_AO,high_BO,high_CO,high_error,middle_AmOm,middle_BmOm,middle_CmOm,middle_error,add_userid,add_username,addtime,edit_userid,edit_username,edittime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="detailId">
	    <![CDATA[
	        INSERT INTO power_doc_resistance_detail ( 
	        	detail_id ,
	        	subreport_id ,
	        	row_num ,
	        	high_AO ,
	        	high_BO ,
	        	high_CO ,
	        	high_error ,
	        	middle_AmOm ,
	        	middle_BmOm ,
	        	middle_CmOm ,
	        	middle_error ,
	        	add_userid ,
	        	add_username ,
	        	addtime ,
	        	edit_userid ,
	        	edit_username ,
	        	edittime 
	        ) VALUES (
	        	#{detailId} ,
	        	#{subreportId} ,
	        	#{rowNum} ,
	        	#{highAo} ,
	        	#{highBo} ,
	        	#{highCo} ,
	        	#{highError} ,
	        	#{middleAmOm} ,
	        	#{middleBmOm} ,
	        	#{middleCmOm} ,
	        	#{middleError} ,
	        	#{addUserid} ,
	        	#{addUsername} ,
	        	#{addtime} ,
	        	#{editUserid} ,
	        	#{editUsername} ,
	        	#{edittime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="batchInsert">
	    <![CDATA[
	        INSERT INTO power_doc_resistance_detail (
	        		detail_id ,
	        		subreport_id ,
	        		row_num ,
	        		high_AO ,
	        		high_BO ,
	        		high_CO ,
	        		high_error ,
	        		middle_AmOm ,
	        		middle_BmOm ,
	        		middle_CmOm ,
	        		middle_error ,
	        		add_userid ,
	        		add_username ,
	        		addtime ,
	        		edit_userid ,
	        		edit_username ,
	        		edittime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.detailId} ,
					#{item.subreportId} ,
					#{item.rowNum} ,
					#{item.highAo} ,
					#{item.highBo} ,
					#{item.highCo} ,
					#{item.highError} ,
					#{item.middleAmOm} ,
					#{item.middleBmOm} ,
					#{item.middleCmOm} ,
					#{item.middleError} ,
					#{item.addUserid} ,
					#{item.addUsername} ,
					#{item.addtime} ,
					#{item.editUserid} ,
					#{item.editUsername} ,
					#{item.edittime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="subreportId != null">
				subreport_id = #{subreportId} ,
			</if>
			<if test="rowNum != null and rowNum != ''">
				row_num = #{rowNum} ,
			</if>
			<if test="highAo != null and highAo != ''">
				high_AO = #{highAo} ,
			</if>
			<if test="highBo != null and highBo != ''">
				high_BO = #{highBo} ,
			</if>
			<if test="highCo != null and highCo != ''">
				high_CO = #{highCo} ,
			</if>
			<if test="highError != null and highError != ''">
				high_error = #{highError} ,
			</if>
			<if test="middleAmOm != null and middleAmOm != ''">
				middle_AmOm = #{middleAmOm} ,
			</if>
			<if test="middleBmOm != null and middleBmOm != ''">
				middle_BmOm = #{middleBmOm} ,
			</if>
			<if test="middleCmOm != null and middleCmOm != ''">
				middle_CmOm = #{middleCmOm} ,
			</if>
			<if test="middleError != null and middleError != ''">
				middle_error = #{middleError} ,
			</if>
			<if test="addUserid != null">
				add_userid = #{addUserid} ,
			</if>
			<if test="addUsername != null and addUsername != ''">
				add_username = #{addUsername} ,
			</if>
			<if test="addtime != null">
				addtime = #{addtime} ,
			</if>
			<if test="editUserid != null">
				edit_userid = #{editUserid} ,
			</if>
			<if test="editUsername != null and editUsername != ''">
				edit_username = #{editUsername} ,
			</if>
			<if test="edittime != null">
				edittime = #{edittime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="updateByPrimaryKey">
		UPDATE power_doc_resistance_detail
		<include refid="update_sql" />
		WHERE
			detail_id = #{detailId} 
	</update>

		<!-- 修改 -->
	<update id="batchUpdateByIds">
		UPDATE power_doc_resistance_detail
		<include refid="update_sql" />
		WHERE
		detail_id IN
			<foreach item="ids" collection="list" open="(" separator="," close=")">
				#{ids}
			</foreach>
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteByPrimaryKey">
    	<![CDATA[
        	DELETE FROM power_doc_resistance_detail 
        	WHERE
        		detail_id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds">
        DELETE FROM power_doc_resistance_detail 
        WHERE detail_id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="selectByPrimaryKey" resultMap="RM_PowerDocResistanceDetail">
		SELECT
		<include refid="columns" />
		FROM power_doc_resistance_detail
		WHERE
		detail_id = #{id} 
	</select>





	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="detailId != null">
					AND detail_id = #{detailId}
				</if>
				<if test="subreportId != null">
					AND subreport_id = #{subreportId}
				</if>
				<if test="rowNum != null and rowNum !=''">
					AND row_num = #{rowNum}
				</if>
				<if test="highAo != null and highAo !=''">
					AND high_AO = #{highAo}
				</if>
				<if test="highBo != null and highBo !=''">
					AND high_BO = #{highBo}
				</if>
				<if test="highCo != null and highCo !=''">
					AND high_CO = #{highCo}
				</if>
				<if test="highError != null and highError !=''">
					AND high_error = #{highError}
				</if>
				<if test="middleAmOm != null and middleAmOm !=''">
					AND middle_AmOm = #{middleAmOm}
				</if>
				<if test="middleBmOm != null and middleBmOm !=''">
					AND middle_BmOm = #{middleBmOm}
				</if>
				<if test="middleCmOm != null and middleCmOm !=''">
					AND middle_CmOm = #{middleCmOm}
				</if>
				<if test="middleError != null and middleError !=''">
					AND middle_error = #{middleError}
				</if>
				<if test="addUserid != null">
					AND add_userid = #{addUserid}
				</if>
				<if test="addUsername != null and addUsername !=''">
					AND add_username = #{addUsername}
				</if>
				<if test="addtime != null">
					AND addtime = #{addtime}
				</if>
				<if test="editUserid != null">
					AND edit_userid = #{editUserid}
				</if>
				<if test="editUsername != null and editUsername !=''">
					AND edit_username = #{editUsername}
				</if>
				<if test="edittime != null">
					AND edittime = #{edittime}
				</if>
		</where>
	</sql>

	<!-- selsect by obj -->
	<select id="listByObj" resultMap="RM_PowerDocResistanceDetail" parameterType="com.putorn.powerdoc.entity.PowerDocResistanceDetail">
	SELECT
	<include refid="columns" />
	FROM power_doc_resistance_detail
	<include refid="findPage_where" />
	</select>


	<!-- 获取总数 -->
	<select id="listPageCount" resultType="long" parameterType="map">
		SELECT COUNT(1)
		FROM power_doc_resistance_detail
		<include refid="findPage_where" />
	</select>  

	<select id="listPage" resultMap="RM_PowerDocResistanceDetail" parameterType="map">
		 SELECT
		<include refid="columns" />
		FROM power_doc_resistance_detail
		<include refid="findPage_where" />

		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>

</mapper>
