<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.putorn.powerdoc.dao.PowerDeviceModelMapper">

	<resultMap id="RM_PowerDeviceModel" type="com.putorn.powerdoc.entity.PowerDeviceModel">
        <result property="id" column="id"/>
        <result property="modelId" column="model_id"/>
        <result property="modelName" column="model_name"/>
        <result property="deviceId" column="device_id"/>
        <result property="devieName" column="devie_name"/>
        <result property="addUserid" column="add_userid"/>
        <result property="addUsername" column="add_username"/>
        <result property="addtime" column="addtime"/>
        <result property="editUserid" column="edit_userid"/>
        <result property="editUsername" column="edit_username"/>
        <result property="edittime" column="edittime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		id,model_id,model_name,device_id,devie_name,add_userid,add_username,addtime,edit_userid,edit_username,edittime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
	    <![CDATA[
	        INSERT INTO power_device_model ( 
	        	id ,
	        	model_id ,
	        	model_name ,
	        	device_id ,
	        	devie_name ,
	        	add_userid ,
	        	add_username ,
	        	addtime ,
	        	edit_userid ,
	        	edit_username ,
	        	edittime 
	        ) VALUES (
	        	#{id} ,
	        	#{modelId} ,
	        	#{modelName} ,
	        	#{deviceId} ,
	        	#{devieName} ,
	        	#{addUserid} ,
	        	#{addUsername} ,
	        	#{addtime} ,
	        	#{editUserid} ,
	        	#{editUsername} ,
	        	#{edittime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="batchInsert">
	    <![CDATA[
	        INSERT INTO power_device_model (
	        		id ,
	        		model_id ,
	        		model_name ,
	        		device_id ,
	        		devie_name ,
	        		add_userid ,
	        		add_username ,
	        		addtime ,
	        		edit_userid ,
	        		edit_username ,
	        		edittime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.id} ,
					#{item.modelId} ,
					#{item.modelName} ,
					#{item.deviceId} ,
					#{item.devieName} ,
					#{item.addUserid} ,
					#{item.addUsername} ,
					#{item.addtime} ,
					#{item.editUserid} ,
					#{item.editUsername} ,
					#{item.edittime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="modelId != null">
				model_id = #{modelId} ,
			</if>
			<if test="modelName != null and modelName != ''">
				model_name = #{modelName} ,
			</if>
			<if test="deviceId != null">
				device_id = #{deviceId} ,
			</if>
			<if test="devieName != null and devieName != ''">
				devie_name = #{devieName} ,
			</if>
			<if test="addUserid != null">
				add_userid = #{addUserid} ,
			</if>
			<if test="addUsername != null and addUsername != ''">
				add_username = #{addUsername} ,
			</if>
			<if test="addtime != null">
				addtime = #{addtime} ,
			</if>
			<if test="editUserid != null">
				edit_userid = #{editUserid} ,
			</if>
			<if test="editUsername != null and editUsername != ''">
				edit_username = #{editUsername} ,
			</if>
			<if test="edittime != null">
				edittime = #{edittime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="updateByPrimaryKey">
		UPDATE power_device_model
		<include refid="update_sql" />
		WHERE
			id = #{id} 
	</update>

		<!-- 修改 -->
	<update id="batchUpdateByIds">
		UPDATE power_device_model
		<include refid="update_sql" />
		WHERE
		id IN
			<foreach item="ids" collection="list" open="(" separator="," close=")">
				#{ids}
			</foreach>
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteByPrimaryKey">
    	<![CDATA[
        	DELETE FROM power_device_model 
        	WHERE
        		id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds">
        DELETE FROM power_device_model 
        WHERE id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="selectByPrimaryKey" resultMap="RM_PowerDeviceModel">
		SELECT
		<include refid="columns" />
		FROM power_device_model
		WHERE
		id = #{id} 
	</select>





	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="id != null">
					AND id = #{id}
				</if>
				<if test="modelId != null">
					AND model_id = #{modelId}
				</if>
				<if test="modelName != null and modelName !=''">
					AND model_name = #{modelName}
				</if>
				<if test="deviceId != null">
					AND device_id = #{deviceId}
				</if>
				<if test="devieName != null and devieName !=''">
					AND devie_name = #{devieName}
				</if>
				<if test="addUserid != null">
					AND add_userid = #{addUserid}
				</if>
				<if test="addUsername != null and addUsername !=''">
					AND add_username = #{addUsername}
				</if>
				<if test="addtime != null">
					AND addtime = #{addtime}
				</if>
				<if test="editUserid != null">
					AND edit_userid = #{editUserid}
				</if>
				<if test="editUsername != null and editUsername !=''">
					AND edit_username = #{editUsername}
				</if>
				<if test="edittime != null">
					AND edittime = #{edittime}
				</if>
		</where>
	</sql>

	<!-- selsect by obj -->
	<select id="listByObj" resultMap="RM_PowerDeviceModel" parameterType="com.putorn.powerdoc.entity.PowerDeviceModel">
	SELECT
	<include refid="columns" />
	FROM power_device_model
	<include refid="findPage_where" />
	</select>


	<!-- 获取总数 -->
	<select id="listPageCount" resultType="long" parameterType="map">
		SELECT COUNT(1)
		FROM power_device_model
		<include refid="findPage_where" />
	</select>  

	<select id="listPage" resultMap="RM_PowerDeviceModel" parameterType="map">
		 SELECT
		<include refid="columns" />
		FROM power_device_model
		<include refid="findPage_where" />

		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>

    <!--查询有效的模板与设备关系表-->
    <select id="effectiveList" resultMap="RM_PowerDeviceModel" parameterType="com.putorn.powerdoc.entity.PowerDeviceModel">
        SELECT
        a.*
        FROM power_device_model a
        LEFT JOIN power_device b ON a.device_id = b.device_id
        LEFT JOIN power_model c ON a.model_id = c.model_id
        WHERE b.status='1' and c.model_status='1'
    </select>
</mapper>
