<?xml version="1.0" encoding="UTF-8" ?>
		<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.putorn.powerdoc.dao.PowerModelMapper">

	<resultMap id="RM_PowerModel" type="com.putorn.powerdoc.entity.PowerModel">
        <result property="modelId" column="model_id"/>
        <result property="modelTableName" column="model_table_name"/>
        <result property="modelName" column="model_name"/>
        <result property="modelType" column="model_type"/>
        <result property="modelTemplateName" column="model_template_name"/>
        <result property="modelUrl" column="model_url"/>
        <result property="modelStatus" column="model_status"/>
        <result property="addUserid" column="add_userid"/>
        <result property="addUsername" column="add_username"/>
        <result property="addtime" column="addtime"/>
        <result property="editUserid" column="edit_userid"/>
        <result property="editUsername" column="edit_username"/>
        <result property="edittime" column="edittime"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		model_id,model_table_name,model_name,model_type,model_template_name,model_url,model_status,add_userid,add_username,addtime,edit_userid,edit_username,edittime
	    ]]>
	</sql>

	<!--保存 -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="modelId">
	    <![CDATA[
	        INSERT INTO power_model ( 
	        	model_id ,
	        	model_table_name ,
	        	model_name ,
	        	model_type ,
	        	model_template_name ,
	        	model_url ,
	        	model_status ,
	        	add_userid ,
	        	add_username ,
	        	addtime ,
	        	edit_userid ,
	        	edit_username ,
	        	edittime 
	        ) VALUES (
	        	#{modelId} ,
	        	#{modelTableName} ,
	        	#{modelName} ,
	        	#{modelType} ,
	        	#{modelTemplateName} ,
	        	#{modelUrl} ,
	        	#{modelStatus} ,
	        	#{addUserid} ,
	        	#{addUsername} ,
	        	#{addtime} ,
	        	#{editUserid} ,
	        	#{editUsername} ,
	        	#{edittime} 
	        )
	    ]]>
	</insert>
	
	<!-- 批量保存 -->
	<insert id="batchInsert">
	    <![CDATA[
	        INSERT INTO power_model (
	        		model_id ,
	        		model_table_name ,
	        		model_name ,
	        		model_type ,
	        		model_template_name ,
	        		model_url ,
	        		model_status ,
	        		add_userid ,
	        		add_username ,
	        		addtime ,
	        		edit_userid ,
	        		edit_username ,
	        		edittime 
	        ) VALUES 
	         ]]>
	        <foreach item="item" collection="list"   separator=",">
	        	(
					#{item.modelId} ,
					#{item.modelTableName} ,
					#{item.modelName} ,
					#{item.modelType} ,
					#{item.modelTemplateName} ,
					#{item.modelUrl} ,
					#{item.modelStatus} ,
					#{item.addUserid} ,
					#{item.addUsername} ,
					#{item.addtime} ,
					#{item.editUserid} ,
					#{item.editUsername} ,
					#{item.edittime} 
	        	)
			</foreach>
	   
	</insert>

	<!-- update 条件组合 -->
	<sql id="update_sql">
		<set>
			<if test="modelTableName != null and modelTableName != ''">
				model_table_name = #{modelTableName} ,
			</if>
			<if test="modelName != null and modelName != ''">
				model_name = #{modelName} ,
			</if>
			<if test="modelType != null and modelType != ''">
				model_type = #{modelType} ,
			</if>
			<if test="modelTemplateName != null and modelTemplateName != ''">
				model_template_name = #{modelTemplateName} ,
			</if>
			<if test="modelUrl != null and modelUrl != ''">
				model_url = #{modelUrl} ,
			</if>
			<if test="modelStatus != null and modelStatus != ''">
				model_status = #{modelStatus} ,
			</if>
			<if test="addUserid != null">
				add_userid = #{addUserid} ,
			</if>
			<if test="addUsername != null and addUsername != ''">
				add_username = #{addUsername} ,
			</if>
			<if test="addtime != null">
				addtime = #{addtime} ,
			</if>
			<if test="editUserid != null">
				edit_userid = #{editUserid} ,
			</if>
			<if test="editUsername != null and editUsername != ''">
				edit_username = #{editUsername} ,
			</if>
			<if test="edittime != null">
				edittime = #{edittime} 
			</if>
		</set>
	</sql>
	
	<!-- 修改 -->
	<update id="updateByPrimaryKey">
		UPDATE power_model
		<include refid="update_sql" />
		WHERE
			model_id = #{modelId} 
	</update>

		<!-- 修改 -->
	<update id="batchUpdateByIds">
		UPDATE power_model
		<include refid="update_sql" />
		WHERE
		model_id IN
			<foreach item="ids" collection="list" open="(" separator="," close=")">
				#{ids}
			</foreach>
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteByPrimaryKey">
    	<![CDATA[
        	DELETE FROM power_model 
        	WHERE
        		model_id = #{id} 
    	]]>
	</delete>
	
	<!-- 批量删除 -->
	<delete id="batchDeleteByIds">
        DELETE FROM power_model 
        WHERE model_id IN 
        <foreach item="ids" collection="list" open="(" separator="," close=")">
			#{ids}
		</foreach>
    </delete>

	<!-- selsect -->
	<select id="selectByPrimaryKey" resultMap="RM_PowerModel">
		SELECT
		<include refid="columns" />
		FROM power_model
		WHERE
		model_id = #{id} 
	</select>





	<!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
	<sql id="findPage_where">
		<where>
				<if test="modelId != null">
					AND model_id = #{modelId}
				</if>
				<if test="modelTableName != null and modelTableName !=''">
					AND model_table_name = #{modelTableName}
				</if>
				<if test="modelName != null and modelName !=''">
					AND model_name = #{modelName}
				</if>
				<if test="modelType != null and modelType !=''">
					AND model_type = #{modelType}
				</if>
				<if test="modelTemplateName != null and modelTemplateName !=''">
					AND model_template_name = #{modelTemplateName}
				</if>
				<if test="modelUrl != null and modelUrl !=''">
					AND model_url = #{modelUrl}
				</if>
				<if test="modelStatus != null and modelStatus !=''">
					AND model_status = #{modelStatus}
				</if>
				<if test="addUserid != null">
					AND add_userid = #{addUserid}
				</if>
				<if test="addUsername != null and addUsername !=''">
					AND add_username = #{addUsername}
				</if>
				<if test="addtime != null">
					AND addtime = #{addtime}
				</if>
				<if test="editUserid != null">
					AND edit_userid = #{editUserid}
				</if>
				<if test="editUsername != null and editUsername !=''">
					AND edit_username = #{editUsername}
				</if>
				<if test="edittime != null">
					AND edittime = #{edittime}
				</if>
		</where>
	</sql>

	<!-- selsect by obj -->
	<select id="listByObj" resultMap="RM_PowerModel" parameterType="com.putorn.powerdoc.entity.PowerModel">
	SELECT
	<include refid="columns" />
	FROM power_model
	<include refid="findPage_where" />
	</select>


	<!-- 获取总数 -->
	<select id="listPageCount" resultType="long" parameterType="map">
		SELECT COUNT(1)
		FROM power_model
		<include refid="findPage_where" />
	</select>  

	<select id="listPage" resultMap="RM_PowerModel" parameterType="map">
		 SELECT
		<include refid="columns" />
		FROM power_model
		<include refid="findPage_where" />

		<if test="sortColumns != null and sortColumns !=''">
			ORDER BY ${sortColumns}
		</if>
		
		<if test="offset != null and pageSize != null">
			LIMIT  #{offset}, #{pageSize}
		</if>
	</select>

</mapper>
