<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.putorn.powerdoc.dao.PowerDocDcResistanceMapper">

    <resultMap id="RM_PowerDocDcResistance" type="com.putorn.powerdoc.entity.PowerDocDcResistance">
        <result property="dcResistanceId" column="dc_resistance_id"/>
        <result property="subreportId" column="subreport_id"/>
        <result property="dcAb" column="dc_ab"/>
        <result property="dcBc" column="dc_bc"/>
        <result property="dcCa" column="dc_ca"/>
        <result property="dcLast" column="dc_last"/>
        <result property="convertAx" column="convert_ax"/>
        <result property="convertBy" column="convert_by"/>
        <result property="convertCz" column="convert_cz"/>
        <result property="convertError" column="convert_error"/>
        <result property="addUserid" column="add_userid"/>
        <result property="addUsername" column="add_username"/>
        <result property="addtime" column="addtime"/>
        <result property="editUserid" column="edit_userid"/>
        <result property="editUsername" column="edit_username"/>
        <result property="edittime" column="edittime"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        <![CDATA[
		dc_resistance_id,subreport_id,dc_ab,dc_bc,dc_ca,dc_last,convert_ax,convert_by,convert_cz,convert_error,add_userid,add_username,addtime,edit_userid,edit_username,edittime
	    ]]>
    </sql>

    <!--保存 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="dcResistanceId">
        <![CDATA[
	        INSERT INTO power_doc_dc_resistance (
	        	dc_resistance_id ,
	        	subreport_id ,
	        	dc_ab ,
	        	dc_bc ,
	        	dc_ca ,
	        	dc_last ,
	        	convert_ax ,
	        	convert_by ,
	        	convert_cz ,
	        	convert_error ,
	        	add_userid ,
	        	add_username ,
	        	addtime ,
	        	edit_userid ,
	        	edit_username ,
	        	edittime
	        ) VALUES (
	        	#{dcResistanceId} ,
	        	#{subreportId} ,
	        	#{dcAb} ,
	        	#{dcBc} ,
	        	#{dcCa} ,
	        	#{dcLast} ,
	        	#{convertAx} ,
	        	#{convertBy} ,
	        	#{convertCz} ,
	        	#{convertError} ,
	        	#{addUserid} ,
	        	#{addUsername} ,
	        	#{addtime} ,
	        	#{editUserid} ,
	        	#{editUsername} ,
	        	#{edittime}
	        )
	    ]]>
    </insert>

    <!-- 批量保存 -->
    <insert id="batchInsert">
        <![CDATA[
	        INSERT INTO power_doc_dc_resistance (
	        		dc_resistance_id ,
	        		subreport_id ,
	        		dc_ab ,
	        		dc_bc ,
	        		dc_ca ,
	        		dc_last ,
	        		convert_ax ,
	        		convert_by ,
	        		convert_cz ,
	        		convert_error ,
	        		add_userid ,
	        		add_username ,
	        		addtime ,
	        		edit_userid ,
	        		edit_username ,
	        		edittime
	        ) VALUES
	         ]]>
        <foreach item="item" collection="list"   separator=",">
            (
            #{item.dcResistanceId} ,
            #{item.subreportId} ,
            #{item.dcAb} ,
            #{item.dcBc} ,
            #{item.dcCa} ,
            #{item.dcLast} ,
            #{item.convertAx} ,
            #{item.convertBy} ,
            #{item.convertCz} ,
            #{item.convertError} ,
            #{item.addUserid} ,
            #{item.addUsername} ,
            #{item.addtime} ,
            #{item.editUserid} ,
            #{item.editUsername} ,
            #{item.edittime}
            )
        </foreach>

    </insert>

    <!-- update 条件组合 -->
    <sql id="update_sql">
        <set>
            <if test="subreportId != null">
                subreport_id = #{subreportId} ,
            </if>
            <if test="dcAb != null and dcAb != ''">
                dc_ab = #{dcAb} ,
            </if>
            <if test="dcBc != null and dcBc != ''">
                dc_bc = #{dcBc} ,
            </if>
            <if test="dcCa != null and dcCa != ''">
                dc_ca = #{dcCa} ,
            </if>
            <if test="dcLast != null and dcLast != ''">
                dc_last = #{dcLast} ,
            </if>
            <if test="convertAx != null and convertAx != ''">
                convert_ax = #{convertAx} ,
            </if>
            <if test="convertBy != null and convertBy != ''">
                convert_by = #{convertBy} ,
            </if>
            <if test="convertCz != null and convertCz != ''">
                convert_cz = #{convertCz} ,
            </if>
            <if test="convertError != null and convertError != ''">
                convert_error = #{convertError} ,
            </if>
            <if test="addUserid != null">
                add_userid = #{addUserid} ,
            </if>
            <if test="addUsername != null and addUsername != ''">
                add_username = #{addUsername} ,
            </if>
            <if test="addtime != null">
                addtime = #{addtime} ,
            </if>
            <if test="editUserid != null">
                edit_userid = #{editUserid} ,
            </if>
            <if test="editUsername != null and editUsername != ''">
                edit_username = #{editUsername} ,
            </if>
            <if test="edittime != null">
                edittime = #{edittime}
            </if>
        </set>
    </sql>

    <!-- 修改 -->
    <update id="updateByPrimaryKey">
        UPDATE power_doc_dc_resistance
        <include refid="update_sql" />
        WHERE
        dc_resistance_id = #{dcResistanceId}
    </update>

    <!-- 修改 -->
    <update id="batchUpdateByIds">
        UPDATE power_doc_dc_resistance
        <include refid="update_sql" />
        WHERE
        dc_resistance_id IN
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </update>

    <!-- 根据ID删除 -->
    <delete id="deleteByPrimaryKey">
        <![CDATA[
        	DELETE FROM power_doc_dc_resistance
        	WHERE
        		dc_resistance_id = #{id}
    	]]>
    </delete>

    <!-- 批量删除 -->
    <delete id="batchDeleteByIds">
        DELETE FROM power_doc_dc_resistance
        WHERE dc_resistance_id IN
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- selsect -->
    <select id="selectByPrimaryKey" resultMap="RM_PowerDocDcResistance">
        SELECT
        <include refid="columns" />
        FROM power_doc_dc_resistance
        WHERE
        dc_resistance_id = #{id}
    </select>





    <!-- 模糊查询这样： 字段名 LIKE CONCAT('%',CONCAT(#{model.userName},'%')) -->
    <sql id="findPage_where">
        <where>
            <if test="dcResistanceId != null">
                AND dc_resistance_id = #{dcResistanceId}
            </if>
            <if test="subreportId != null">
                AND subreport_id = #{subreportId}
            </if>
            <if test="dcAb != null and dcAb !=''">
                AND dc_ab = #{dcAb}
            </if>
            <if test="dcBc != null and dcBc !=''">
                AND dc_bc = #{dcBc}
            </if>
            <if test="dcCa != null and dcCa !=''">
                AND dc_ca = #{dcCa}
            </if>
            <if test="dcLast != null and dcLast !=''">
                AND dc_last = #{dcLast}
            </if>
            <if test="convertAx != null and convertAx !=''">
                AND convert_ax = #{convertAx}
            </if>
            <if test="convertBy != null and convertBy !=''">
                AND convert_by = #{convertBy}
            </if>
            <if test="convertCz != null and convertCz !=''">
                AND convert_cz = #{convertCz}
            </if>
            <if test="convertError != null and convertError !=''">
                AND convert_error = #{convertError}
            </if>
            <if test="addUserid != null">
                AND add_userid = #{addUserid}
            </if>
            <if test="addUsername != null and addUsername !=''">
                AND add_username = #{addUsername}
            </if>
            <if test="addtime != null">
                AND addtime = #{addtime}
            </if>
            <if test="editUserid != null">
                AND edit_userid = #{editUserid}
            </if>
            <if test="editUsername != null and editUsername !=''">
                AND edit_username = #{editUsername}
            </if>
            <if test="edittime != null">
                AND edittime = #{edittime}
            </if>
        </where>
    </sql>

    <!-- selsect by obj -->
    <select id="listByObj" resultMap="RM_PowerDocDcResistance" parameterType="com.putorn.powerdoc.entity.PowerDocDcResistance">
        SELECT
        <include refid="columns" />
        FROM power_doc_dc_resistance
        <include refid="findPage_where" />
    </select>


    <!-- 获取总数 -->
    <select id="listPageCount" resultType="long" parameterType="map">
        SELECT COUNT(1)
        FROM power_doc_dc_resistance
        <include refid="findPage_where" />
    </select>

    <select id="listPage" resultMap="RM_PowerDocDcResistance" parameterType="map">
        SELECT
        <include refid="columns" />
        FROM power_doc_dc_resistance
        <include refid="findPage_where" />

        <if test="sortColumns != null and sortColumns !=''">
            ORDER BY ${sortColumns}
        </if>

        <if test="offset != null and pageSize != null">
            LIMIT  #{offset}, #{pageSize}
        </if>
    </select>

</mapper>
